option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /var/www/html
    memory_limit: 256M
    max_execution_time: 300
    display_errors: "Off"
    allow_url_fopen: "On"
    
  aws:elasticbeanstalk:application:environment:
    COMPOSER_HOME: /root

packages:
  yum:
    php8.3-mysqlnd: []
    php8.3-xml: []
    php8.3-mbstring: []
    php8.3-gd: []
    php8.3-zip: []
    php8.3-redis: []
    php8.3-bcmath: []
    php8.3-intl: []

files:
  "/etc/php.d/99-wordpress.ini":
    mode: "000644"
    owner: root
    group: root
    content: |
      ; WordPress PHP Configuration
      upload_max_filesize = 64M
      post_max_size = 64M
      memory_limit = 256M
      max_execution_time = 300
      max_input_time = 300
      max_input_vars = 3000
