files:
  "/etc/httpd/conf.d/wordpress.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      <VirtualHost *:80>
          DocumentRoot /var/www/html
          ServerName ${PRIMARY_DOMAIN}
          ServerAlias *.${PRIMARY_DOMAIN}
          
          <Directory /var/www/html>
              Options Indexes FollowSymLinks
              AllowOverride All
              Require all granted
          </Directory>
          
          # WordPress Multi-site rewrite rules
          RewriteEngine On
          RewriteBase /
          RewriteRule ^index\.php$ - [L]
          
          # Add a trailing slash to /wp-admin
          RewriteRule ^wp-admin$ wp-admin/ [R=301,L]
          
          RewriteCond %{REQUEST_FILENAME} -f [OR]
          RewriteCond %{REQUEST_FILENAME} -d
          RewriteRule ^ - [L]
          RewriteRule ^(wp-(content|admin|includes).*) $1 [L]
          RewriteRule ^(.*\.php)$ $1 [L]
          RewriteRule . index.php [L]
          
          ErrorLog logs/wordpress_error.log
          CustomLog logs/wordpress_access.log combined
      </VirtualHost>

commands:
  01_enable_mod_rewrite:
    command: "sed -i 's/#LoadModule rewrite_module modules\\/mod_rewrite.so/LoadModule rewrite_module modules\\/mod_rewrite.so/' /etc/httpd/conf/httpd.conf"
    ignoreErrors: true
