cloudfront_domain_name    = "d111111abcdef8.cloudfront.net"
cloudfront_hosted_zone_id = "Z2FDTNDATAQYW2"
db_endpoint               = "test-wordpress.cluster-abcdefghijkl.us-east-1.rds.amazonaws.com"
db_reader_endpoint        = "test-wordpress.cluster-ro-abcdefghijkl.us-east-1.rds.amazonaws.com"
cache_endpoint            = "test-valkey.xxxxxx.use1.cache.amazonaws.com"
